body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
    background:linear-gradient( rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.3)),url("img/269.jpg") center center fixed;
    
}
.button{
width: 120px;
height: 36px;
box-sizing: border-box;
padding-top: 7px;
color:white;
border:2px solid white;
text-align: center;
cursor: pointer;
margin-left:5px;
margin-right:5px;
text-decoration:none;
color:white;
}
.button:hover{
    border-color:gold;
    color:gold;
}
.butoane{
    display:flex;
    justify-content:center;
    margin-bottom:40px;
    
}
.comanda{
    margin:auto;
    width:50%;
    min-height:500px;
    background-color:gold;
    color:black;
    transition: all 0.3s;
}
table {
border-collapse: collapse;
width: 100%;
}

td, th {
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

tr:nth-child(even) {
 background-color: white;
}
@media only screen and (max-width: 600px) {
    .comanda{
        width:80%;
    }
    .butoane{
        flex-direction:column;
        align-items:center;
    }
    .butoane .button{
        margin-top:3px;
        margin-bottom:3px;
    }
}
#animation{
    transition: 1.5s;
}   